## <center>Работа с данными в Pandas (история олимпийских игр)
    
    

Данные содержат следующие признаки:

* ID - Unique number for each athlete
* Name - Athlete's name
* Sex - M or F
* Age - Integer
* Height - In centimeters
* Weight - In kilograms
* Team - Team name
* NOC - National Olympic Committee 3-letter code
* Games - Year and season
* Year - Integer
* Season - Summer or Winter
* City - Host city
* Sport - Sport
* Event - Event
* Medal - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('athlete_events.csv')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

### Задание 1
Найдите, сколько всего строк в таблице (не считая заголовков)?

In [3]:
# YOUR CODE
data.shape[0]

271116

### Задание 2

Сколько лет было самой молодой участнице олимпийских игр женского пола в 1992 году?

In [25]:
# YOUR CODE
data[(data.Sex == 'F') & (data.Year == 1992)].sort_values(by=['Age'])['Age'].min()

12.0

### Задание 3

Какую пропорцию составляют мужчины-баскетболисты среди всех участников игр 2012 года? Округлите ответ до двух знаков после точки.

_Подсказка_ : вам необходимы соревнования "Basketball Men's Basketball"

In [20]:
# YOUR CODE
all = data[data.Year == 2012].shape[0]
bsb = data[(data.Event == "Basketball Men's Basketball") & (data.Year == 2012)].shape[0]
round(bsb / all, 2)

0.01

### Задание 4

Найдите среднее арифметическое для роста теннисисток (название соревнований должно начинаться со слова 'Tennis'), которые участвовали в играх 2000 года. Округлите ответ до двух знаков после точки.

In [32]:
# YOUR CODE
round(data[(data.Sex == 'F') & (data.Sport == 'Tennis') & (data.Year == 2000)]['Height'].mean(), 2)

171.79

### Задание 5

Найдите количество всех уникальных дисциплин, связанных с катанием на коньках (Skating).

In [88]:
# YOUR CODE
# data.Sport.apply(lambda s: 'Misc' if 'Skating' not in s else s).nunique() - 1
data.Event.apply(lambda s: 'Misc' if 'Skating' not in s else s).nunique() - 1

27

### Задание 6

Найдите самую легкую (по весу) спортсменку игр 2006 года. В каком виде спорта она участвовала? Скопируйте в ответ название.

In [90]:
# YOUR CODE
data[(data.Sex == 'F') & (data.Year == 2006)].sort_values(by=['Weight']).iloc[0]['Event']

'Figure Skating Mixed Pairs'

### Задание 7

В скольких олимпиадах принимал участие John Aalberg?

In [65]:
# YOUR CODE
data[data.Name == 'John Aalberg'].Year.nunique()

2

### Задание 8

Сколько золотых медалей в настольном теннисе выиграл Китай на Олимпиаде в 2008 году?

In [80]:
# YOUR CODE
data[(data.Team == 'China') & (data.Year == 2008) & (data.Sport == 'Table Tennis') & (data.Medal == 'Gold')].shape[0]

8

### Задание 9
Найдите абсолютную (т.е. по модулю) разницу между количеством уникальных видов спорта на играх в 1988 году и в 2002.

_Подсказка_ : функция модуля "убирает" минус перед числом.

In [83]:
# YOUR CODE
abs(data[data.Year == 1988].Sport.nunique() - data[data.Year == 2002].Sport.nunique())

22